.input_box{
    position: relative;
    margin: 2rem;
        background-color: #323232;
}

.all{
    top: 50%;
    left: 50%;
    height: 100%;
    width: 700px;
    margin:auto;
    background-color: #323232;
}
